* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #f7d1d1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.todo-app {
  width: 500px;

  /* background: lightblue; */
}
.todo-app input {
  margin-top: 10px;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 2px 10px;
}
.todo-app h3 {
  text-align: center;
  color: #894040;
}
.lists {
  width: 90%;
  height: 50%;
  /* background: lightcoral; */
}
button {
  margin-top: 10px;
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
  background: #ff9898;
  border-radius: 5px;
}
button:hover {
  background: #a85858;
}
.lists {
  padding: 0px 30px 0px 30px;
  height: 60vh;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #a85858;
  border-radius: 5px;
}

.lists ol li {
  list-style: none;
  margin-bottom: 10px;
  color: #875050;
  background: #f8abab;
  padding: 20px;
  border-radius: 10px;
}

@media (max-width: 620px) {
  .todo-app {
    width: 90%;
    padding: 0px 30px 0px 30px;

    /* background: lightblue; */
  }
}
